.popup__fieldset {
  max-width: 358px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #000;
  border: 0;
  padding: 0;
  position: relative;
}
