.footer__info {
  margin: 0 auto;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #545454;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 700px) {
  .footer__info {
    font-size: 14px;
    line-height: 17px;

  }
}
