.popup__close {
  height: 32px;
  width: 32px;
  top: -40px;
  right: -40px;
  background-image: url(../../../images/CloseIcon.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
  border: 0;
  position: absolute;
  transition: opacity 0.3s;
  cursor: pointer;
}

.popup__close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 425px) {
  .popup__close {
    height: 20px;
    width: 20px;
    right: 0;

  }
}
