.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
}



@media screen and (max-width: 649px) and (min-width: 320px) {
    .header__container {
        margin-top: 40px;
        flex-direction: column;
    }
}