.popup__save {
  width: 358px;
  height: 50px;
  background-color: black;
  border-radius: 2px;
  color: white;
  text-align: center;
  margin-top: 19px;
  display: block;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  cursor: pointer;
  border: none;
  padding: 14px 0;
}

.popup__save:hover {
  opacity: 0.8;
}

@media screen and (max-width: 649px) and (min-width: 320px) {
  .popup__save {
    width: 238px;
    height: 46px;
    padding: 14.5px 0;
    margin-top: 40px;
    font-size: 14px;
    line-height: 16.94px;

  }
}
