.register {
    margin: 60px auto 112px;
    max-width: 358px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
    background: #000000;
}

@media screen and (max-width: 649px) and (min-width: 320px) {
    .register {
        padding: 40px 30px 40px;
        max-width: 260px;
    }
}